--- 
layout: default 
comments: true 
---

<!-- Post Header -->
<header class="intro-header" style="{% if page.background %} {{ site.data.background[page.background] }} {% else %} {% if page.header-img %}background-image: url('{{ site.baseurl }}/{{ page.header-img }}'){% else %}{{ site.data.background.post-bg }}{% endif %}{% endif %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading" style="text-align: -webkit-center;">
                    <h1>{{ page.title }}</h1>
                    {% if page.subtitle %}
                    <h2 class="subheading">{{ page.subtitle }}</h2>
                    {% endif %}
                    <span class="meta">Posted by {% if page.author %}{{ page.author }}{% else %}{{ site.title }}{% endif %} on {{ page.date | date: "%B %-d, %Y" }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container bs-docs-container">
        <div class="row">
            <div class="col-md-3" role="complementary">
                <nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm" style="padding-top: 50px;">
                    <ul id="sideNav" class="nav bs-docs-sidenav">
                        <!-- code will be generated in application.js -->
                    </ul>
                </nav>
            </div>
            <div class="col-md-9" role="main">
                {% if page.tags != "" %}
                <small> <i class="fa fa-tags"></i>
                {% for tag in page.tags %}
                <a class="btn btn-default btn-sm"  href="{{ site.url }}/tags#{{ tag }}-ref" role="button">{{ tag }}</a>
                {% endfor %}
                </small>
                {% endif %}

                {{ content }}

                <hr>

                <ul class="pager">
                    {% if page.previous.url %}
                    <li class="previous">
                        <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">&larr; Previous Post</a>
                    </li>
                    {% endif %} {% if page.next.url %}
                    <li class="next">
                        <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">Next Post &rarr;</a>
                    </li>
                    {% endif %}
                </ul>
                <hr> {% include comment.html %}
            </div>
        </div>
    </div>
</article>


<hr>